@tailwind base;
@tailwind components;
@tailwind utilities;


a{
 text-decoration: none !important;
}


/* TO ACCOUNT FOR NAVBAR HEIGHT */
main{
  @apply pt-44 min-h-screen ;
}



img{
  @apply hover:brightness-75 transition-all duration-300 ease-linear
}

.gradient-text {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--s)) 0%,
    hsl(var(--sf)) 9%,
    hsl(var(--pf)) 42%,
    hsl(var(--p)) 47%,
    hsl(var(--a)) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}





.background-gradient {
  background: linear-gradient(
    to bottom right,
    hsl(var(--s)) 0%,
    hsl(var(--sf)) 9%,
    hsl(var(--pf)) 42%,
    hsl(var(--p)) 47%,
    hsl(var(--a)) 100%
  );
}


.v-enter-active,
.v-leave-active {
  transition: opacity 1.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 1s ease-out;
}

.slide-fade-leave-active {
  transition: all 1.25s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
